:root {
  --white: #ffffff;
  --whiteBackground: #f7f7f7;
  --black: #000000;
  --whitesmoke: #f4f4f4;
  --lightGray: #ededed;
  --gold: #ffcb08;
  --forestGreen: #008734;
  --mediumSeaGreen: #3aaa35;
  --darkSlateGray: #151822;
  --silver: #c4c4c4;
  --darkGray: #5a5a5a;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans";
  color: var(--black);
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 18px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 0;
}

/* HEADER SECTION */

.burger-button {
  background: none;
  border: none;
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 28px;
  height: 22px;
  position: relative;
}

.burger-icon,
.burger-icon::before,
.burger-icon::after {
  content: "";
  background-color: #000;
  border-radius: 3px;
  height: 2px;
  width: 28px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.burger-icon::before {
  top: 10px;
  left: 0;
}

.burger-icon::after {
  bottom: 10px;
  left: 0;
}

.burger-button.active .burger-icon {
  transform: rotate(45deg);
}

.burger-button.active .burger-icon::before {
  top: 0;
  transform: rotate(90deg);
}

.burger-button.active .burger-icon::after {
  bottom: 0;
  transform: rotate(90deg);
}

.header__mobile {
  position: absolute;
  z-index: 5;
  top: 60px;
  left: 0;
  right: 0;
  background-color: var(--white);
  padding: 40px 0;
  transition: all 0.3s ease;
  transform: translateY(-200%);
}

.header__mobile.show {
  transform: translateY(0%);
}

.header__mobile-inner {
  display: flex;
  flex-direction: column;
}

.menu-mobile .menu__list {
  flex-direction: column;
  gap: 24px 0;
  margin-top: 20px;
}

.menu-mobile .menu__list .menu__list-item {
  width: fit-content;
}

.menu-mobile .menu__list .menu__list-item .menu__list-link.has-sub::after {
  left: 80px;
  top: 3px;
  right: -10px;
}

a.help__btn-mobile {
  max-width: 284px;
  margin-left: 0;
}

.header__mobile-form {
  position: relative;
  width: 284px;
}

.header__mobile-input {
  background-color: var(--whitesmoke);
  border: none;
  outline: none;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  padding: 0 50px 0 10px;
}

.header__mobile-search-btn {
  position: absolute;
  top: 12px;
  width: 29px;
  height: 29px;
  right: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.burger-button {
  display: none;
  width: 28px;
  height: 22px;
}

.burger__btn span {
  width: 28px;
  height: 2px;
  background-color: var(--black);
  border-radius: 3px;
  display: block;
}

.header {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-right: 60px;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-link img {
  height: 35px;
  width: 143px;
  display: inline-block;
}

.menu__list {
  display: flex;
  gap: 0 40px;
}

.menu__list-link {
  padding: 0 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  white-space: nowrap;
}

.menu__list-link svg {
  margin-left: 9px;
}

.menu__list-item {
  position: relative;
}

.has-sub::after {
  content: "";
  position: absolute;
  background-image: url("../img/chevron.svg");
  width: 16px;
  height: 16px;
  top: 4px;
  right: -10px;
  transition: all 0.2s ease;
}

.has-sub.active::after {
  transform: rotate(90deg);
}

ul.sub-menu__list {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 10px 0;
  min-width: 180px;
  padding: 16px;
  border-radius: 6px;
  left: 10px;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
}
ul.sub-menu__list-mobile {
  position: static;
}

ul.sub-menu__list-mobile.show {
  display: block;
  opacity: 1;
  visibility: visible;
  padding-bottom: 0;
  gap: 16px;
}

ul.sub-menu__list.show {
  display: flex;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.sub-menu__list-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  white-space: nowrap;
}

.user-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search__btn {
  display: grid;
  place-items: center;
}

.help__btn {
  margin: 0 25px 0 23px;
  padding: 14px 33px;
  background-color: var(--gold);
  border-radius: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--black);
  transition: all 0.3s ease;
}

.help__btn:hover {
  background-color: #ffe609;
}

.user-login {
  display: grid;
  place-items: center;
}

.select-language {
  position: relative;
  margin-right: 46px;
  display: flex;
  align-items: center;
  color: var(--black);
}

.select-language::after {
  content: "";
  position: absolute;
  background-image: url("../img/chevron.svg");
  width: 16px;
  height: 16px;
  top: 3px;
  right: -20px;
  transition: all 0.2s ease;
}

.select-language.active::after {
  transform: rotate(90deg);
}

.select-language .select-language__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 40px;
  left: -10px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  color: var(--black);
}

.select-language .select-language__list.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.header__bottom {
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px 0;
  border-top: 1px solid var(--lightGray);
  background-color: var(--white);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

.header__bottom.show {
  opacity: 1;
  visibility: visible;
  z-index: 20;
}

.form__wrapper {
  display: flex;
  align-items: center;
}

.form {
  margin-left: 233px;
  max-width: 685px;
  position: relative;
  flex-grow: 1;
}

.form__search-input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 6px;
  background: var(--whitesmoke);
  padding: 0 60px 0 10px;
  outline: none;
}

.form__search-btn {
  position: absolute;
  right: 22px;
  top: 18px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  width: 29px;
  height: 29px;
  border: none;
  cursor: pointer;
}

.close-search {
  margin-left: 20px;
  margin-right: 16px;
  width: 30px;
  height: 30px;
  background-color: var(--silver);
  border-radius: 50%;
}

/* HERO SECTION */

.hero {
  background-color: var(--lightGray);
}

.slider__item {
  position: relative;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.07) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../img/test-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 700px;
  max-height: 700px; */
  height: 700px;
  width: 100%;
  margin: auto;
  user-select: text;
}

.offer {
  /* position: absolute;
  top: 0; */
  margin-top: 210px;
}

.offer__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 74px;
  color: #ffffff;
  max-width: 726px;
  margin-bottom: 59px;
}

.offer__btn {
  display: flex;
  gap: 0 30px;
}

.offer__btn .help__btn {
  margin: 0;
  padding: 16.5px 10px;
  min-width: 200px;
  display: inline-block;
}

.more__btn {
  background-color: var(--white);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--black);
  padding: 16.5px 10px;
  min-width: 200px;
  display: inline-block;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.more__btn:hover {
  background-color: #dfeaef;
}

#hero-slider .slick-dots {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 0 9px;
}

#hero-slider .slick-dots li button {
  font-size: 0;
  border: none;
  width: 13px;
  height: 13px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

#hero-slider .slick-dots .slick-active button {
  background-color: var(--white);
}

.hero__text {
  background-color: var(--mediumSeaGreen);
  border-radius: 12px;
  text-align: center;
  max-width: 978px;
  margin: 0 auto;
  padding: 30px 40px;
  transform: translateY(-40px);
}

.hero__text p {
  color: var(--white);
  text-align: center;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

/* ASSIST SECTION */

.assist {
  padding: 30px 0 60px;
  background-color: var(--lightGray);
}

.assist__title,
.map__title,
.news__title,
.partners__title,
.charity__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--black);
}

.assist__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.assist__item {
  max-width: 380px;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--white);
}

.assist__item-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--black);
  margin: 10px 0;
}

.assist__item-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
}

.assist__item-text span {
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.assist__item-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px 20px;
}

.assist__item-buttons .help__btn {
  display: inline-block;
  margin: 0;
}

.assist__item-buttons .details__btn {
  display: inline-block;
  background-color: #f0f4f6;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: grid;
  place-items: center;
  color: var(--black);
  padding: 11px 30px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.assist__item-buttons .details__btn:hover {
  background-color: #dfeaef;
}

/* MAP SECTION */

.map {
  padding: 60px 0;
}

.map iframe {
  width: 100%;
  height: 100vh;
}

/* ACHIEVEMENT SECTION */

.achievement {
  padding: 40px 0 100px;
  background: linear-gradient(
      0deg,
      rgba(0, 135, 52, 0.9),
      rgba(0, 135, 52, 0.9)
    ),
    url("../img/test-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.achievement__title {
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: var(--white);
  text-align: center;
}

.achievement__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px 40px;
}

.achievement__item {
  max-width: 240px;
  text-align: center;
  color: var(--white);
}

.achievement__item b {
  display: block;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #ffffff;
  margin: 20px 0;
  padding-bottom: 10px;
}

.achievement__item b span {
  font-size: 24px;
  line-height: 32px;
}

.achievement__item p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

/* NEWS SECTION */

.news {
  padding: 60px 0;
}

.news__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* .card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
} */

.card {
  width: 285px;
  height: 285px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.card-image {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-size: cover;
  background-position: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 16.98%,
      rgba(0, 0, 0, 0.7) 100%
    ); */
  transition: transform 0.4s ease;
}

.gradient-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 16.98%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.card:hover .card-image {
  transform: scale(1.1);
}

.card-content {
  position: absolute;
  top: 147px;
  left: 0;
  right: 0;
  padding: 16px;
  color: var(--white);
}

.card-content h4 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--white);
}

.card-content p {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.all-news__btn {
  padding: 17px 37px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--forestGreen);
  border: 2px solid var(--forestGreen);
  border-radius: 6px;
  transition: all 0.3s ease;
  margin: 30px auto 0;
}

.btn__wrapper {
  text-align: center;
}

.all-news__btn:hover {
  background-color: var(--forestGreen);
  color: var(--white);
}

/* PARTNERS SECTION */

.partners {
  padding: 60px 0;
  background-color: var(--lightGray);
}

.charity {
  padding: 60px 0 103px;
  background-color: var(--lightGray);
}

/* .partners__slider-item {
  min-width: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 70px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 36px;
} */

.charity__slider-item {
  padding: 0 76px;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.partners__slider {
  position: relative;
  margin-bottom: 36px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

/* .partners__slider {

} */

/* div.charity__slider-item  */
/* div.partners__slider-item {
  display: flex !important;
  justify-content: center;
  gap: 0 36px;
  flex-wrap: wrap;
} */

.charity__logo {
  display: grid;
  place-items: center;
}

.partners__logo {
  min-height: 160px;
  min-width: 0;
  display: grid;
  place-items: center;
}

.partners__slider .slick-dots,
.charity__slider .slick-dots {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 0 9px;
}

.partners__slider .slick-dots li button,
.charity__slider .slick-dots li button {
  font-size: 0;
  border: none;
  width: 13px;
  height: 13px;
  background: var(--silver);
  border-radius: 50%;
}

.partners__slider .slick-dots .slick-active button,
.charity__slider .slick-dots .slick-active button {
  background-color: var(--mediumSeaGreen);
}

.partners__slider .slick-next,
.partners__slider .slick-prev,
.charity__slider .slick-next,
.charity__slider .slick-prev {
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--silver);
}

.partners__slider .slick-next:hover,
.partners__slider .slick-prev:hover,
.charity__slider .slick-next:hover,
.charity__slider .slick-prev:hover {
  background-color: var(--mediumSeaGreen);
}

.partners__slider .slick-prev,
.charity__slider .slick-prev {
  background-image: url("../img/chevron-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;
}

.partners__slider .slick-next,
.charity__slider .slick-next {
  right: 0;
  background-image: url("../img/chevron-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg) translateY(50%);
}

/* FOOTER SECTION */

.footer {
  background-color: var(--darkSlateGray);
  color: var(--white);
}

.footer__inner {
  padding: 40px 0;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 50px;
}

.footer__logo-img {
  width: 191px;
  height: 50px;
}

.footer__col-main .footer__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--whitesmoke);
  margin: 20px 0;
  max-width: 284px;
}

ul.social__list {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
}

.social__list-item .social__list-link svg {
  width: 30px;
  height: 30px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.footer__nav-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.footer__col-contacts .footer__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}

.footer__col-contacts .footer__title:not(:first-child) {
  margin-top: 10px;
}

.footer__col-contacts a {
  color: var(--gold);
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

/* .footer__col-charity {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
} */

.footer__inner div {
  padding: 0 10px;
  /* min-width: 250px;
  max-width: 270px; */
}

.footer__col-charity p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  max-width: 241px;
}

.footer__col-charity a {
  color: var(--gold);
  border: 1px solid var(--gold);
  border-radius: 6px;
  padding: 12px 30px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  display: inline-block;
  white-space: nowrap;
}

.footer__copyright {
  padding: 20px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  border-top: 1px solid var(--silver);
}

/* ADAPTIVE */

@media (max-width: 1200px) {
  .header__inner .menu {
    display: none;
  }
  .user-navigation .search__btn {
    display: none;
  }
  .user-navigation .help__btn {
    display: none;
  }
  .user-navigation .user-login {
    display: none;
  }
  .user-navigation .burger-button {
    display: block;
  }
  /* ul.sub-menu__list-mobile {
    display: none !important;
    position: static !important;
  }

  ul.sub-menu__list-mobile.show {
    display: block !important;
  } */
}

@media (max-width: 970px) {
  .hero__text {
    border-radius: 0px;
  }
}

@media (max-width: 768px) {
  .offer__title {
    max-width: 500px;
    font-size: 32px;
    line-height: 42px;
  }
  .news__list {
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .offer__btn .help__btn,
  .offer__btn .more__btn {
    min-width: 130px;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .offer {
    margin-top: 194px;
  }
  .offer__title {
    max-width: 250px;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }
  .header__logo {
    margin-right: 25px;
    gap: 0 9px;
  }
  .header__logo-img {
    width: 33px;
    height: 18px;
  }
  .header__logo-link img {
    height: 30px;
    width: 123px;
    display: inline-block;
  }
  .select-language {
    margin-right: 44px;
  }
  /* .offer__btn .help__btn,
  .offer__btn .more__btn {
    min-width: 130px;
    margin: 0;
  } */
  .hero .slider {
    height: 601px;
  }
  .hero #hero-slider .slick-list {
    height: 601px;
  }
  .assist {
    padding: 0 0 40px;
  }
  .assist__title,
  .map__title,
  .news__title,
  .partners__title,
  .charity__title,
  .achievement__title {
    font-size: 24px;
    line-height: 33px;
  }
  .assist__item-buttons a {
    min-width: 118px;
  }

  .assist__item-buttons .help__btn {
    padding: 9px 13px;
  }
  .assist__item-buttons .details__btn {
    padding: 9px;
  }
  .hero__text p {
    font-size: 18px;
    line-height: 25px;
  }
  .hero__text {
    padding: 30px 0px;
  }
  .assist__item-title {
    font-size: 16px;
    line-height: 22px;
  }
  .assist__item-text {
    font-size: 14px;
    line-height: 19px;
  }
  .assist__item-text span {
    font-size: 16px;
    line-height: 22px;
  }
  .achievement {
    padding: 40px 0;
  }
  .achievement__item {
    max-width: 100%;
  }
  .achievement__item svg {
    width: 70px;
    height: 70px;
  }
  .achievement__item b {
    font-size: 24px;
    line-height: 32px;
    margin: 20px 42px;
  }
  .achievement__item b span {
    font-size: 16px;
    line-height: 22px;
  }
  .achievement__item p {
    font-size: 14px;
    line-height: 19px;
  }
  .news {
    padding: 40px 0;
  }
  .partners {
    padding: 40px 0;
  }
  .charity {
    padding: 40px 0 103px;
  }
  .offer__btn {
    gap: 0 20px;
  }
  .map {
    padding: 40px 0;
  }
}

@media (max-width: 320px) {
}
