:root {
  --white: #ffffff;
  --whiteBackground: #f7f7f7;
  --black: #000000;
  --whitesmoke: #f4f4f4;
  --lightGray: #ededed;
  --gold: #ffcb08;
  --forestGreen: #008734;
  --mediumSeaGreen: #3aaa35;
  --darkSlateGray: #151822;
  --silver: #c4c4c4;
  --darkGray: #5a5a5a;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans";
  color: var(--black);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 18px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 0;
}

/* HEADER SECTION */

.burger-button {
  position: relative;
  display: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 22px;
}

.burger-button svg rect {
  position: absolute;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.burger-button.active svg rect:first-child {
  transform: rotate(45deg) translate(3px, -3px);
  -webkit-transform: rotate(45deg) translate(3px, -3px);
  -moz-transform: rotate(45deg) translate(3px, -3px);
  -ms-transform: rotate(45deg) translate(3px, -3px);
  -o-transform: rotate(45deg) translate(3px, -3px);
}

.burger-button.active svg rect:nth-child(2) {
  width: 0;
  opacity: 0;
  visibility: hidden;
}

.burger-button.active svg rect:last-child {
  transform: rotate(-45deg) translate(-11px, -4px);
  -webkit-transform: rotate(-45deg) translate(-11px, -4px);
  -moz-transform: rotate(-45deg) translate(-11px, -4px);
  -ms-transform: rotate(-45deg) translate(-11px, -4px);
  -o-transform: rotate(-45deg) translate(-11px, -4px);
}

/* .burger-button.active {
  background-image: url("../img/burger-close-menu-icon.svg");
} */

/* .burger-icon,
.burger-icon::before,
.burger-icon::after {
  content: "";
  background-color: #000;
  border-radius: 3px;
  height: 2px;
  width: 28px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
} */

/* .burger-icon::before {
  top: 10px;
  left: 0;
} */

/* .burger-icon::after {
  bottom: 10px;
  left: 0;
} */

/* .burger-button.active .burger-icon {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

/* .burger-button.active .burger-icon::before {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
} */

/* .burger-button.active .burger-icon::after {
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
} */

.header__mobile {
  position: absolute;
  z-index: 5;
  top: 65px;
  left: 0;
  right: 0;
  background-color: var(--white);
  padding: 40px 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}

.header__mobile.show {
  -webkit-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  height: 100vh;
  overflow-y: auto;
}

.header__mobile-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 70px;
}

.menu-mobile .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px 0;
  margin-top: 20px;
}

/* .menu-mobile .menu__list .menu__list-item:not(:last-child) {
  margin-bottom: 24px;
} */

#header__mobile > div > div > nav > ul > li > a {
  display: block;
}

#header__mobile > div > div > nav > ul > li > a::before {
  width: 105px;
}

.menu-mobile .menu__list .menu__list-item .menu__list-link.has-sub::after {
  left: 80px;
  top: 3px;
  right: -10px;
}

a.help__btn-mobile {
  max-width: 284px;
  margin-left: 0;
  margin-right: 0;
}

.header__mobile-form {
  position: relative;
  width: 284px;
}

.header__mobile-input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--whitesmoke);
  border: none;
  outline: none;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  padding: 0 50px 0 10px;
}

.header__mobile-search-btn {
  position: absolute;
  top: 12px;
  width: 29px;
  height: 29px;
  right: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.burger__btn span {
  width: 28px;
  height: 2px;
  background-color: var(--black);
  border-radius: 3px;
  display: block;
}

.header {
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 20px;
  margin-right: 50px;
}

.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo-link img {
  height: 35px;
  width: 143px;
  display: inline-block;
}

.header__logo-img {
  width: 56px;
  height: 30px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
}

.menu__list-link {
  padding: 0 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__list-link.link {
  position: relative;
  font-weight: 600;
  padding-bottom: 8px;
  /* border-bottom: 2px solid var(--forestGreen); */
}

.menu__list-link.link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--forestGreen);
  bottom: 0;
  left: 0;
}

.menu__list-link:hover {
  color: #5f5f5f;
}

.menu__list-link.active {
  color: #5f5f5f;
}

.menu__list-link svg {
  margin-left: 9px;
}

.menu__list-item {
  position: relative;
}

.has-sub::after {
  content: "";
  position: absolute;
  background-image: url("../img/chevron.svg");
  width: 16px;
  height: 16px;
  top: 4px;
  right: -10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.has-sub.active::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

ul.sub-menu__list {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px 0;
  min-width: 180px;
  padding: 16px;
  border-radius: 6px;
  top: 30px;
  left: 10px;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
}
ul.sub-menu__list-mobile {
  position: static;
}

ul.sub-menu__list-mobile.show {
  display: block;
  opacity: 1;
  visibility: visible;
  padding-bottom: 0;
  gap: 16px;
}

ul.sub-menu__list.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
  z-index: 21;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
}

.menu-mobile ul.sub-menu__list.show {
  -webkit-filter: none;
  filter: none;
}

.sub-menu__list-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sub-menu__list-link:hover {
  color: #5f5f5f;
}

.sub-menu__list-link:focus {
  color: #5f5f5f;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.search__btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.help__btn {
  margin: 0 25px 0 23px;
  padding: 14px 33px;
  background-color: var(--gold);
  border-radius: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--black);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.help__btn:hover {
  background-color: #ffe609;
}

.user-login {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.select-language {
  position: relative;
  margin-right: 29px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--black);
}

.select-language::after {
  content: "";
  position: absolute;
  background-image: url("../img/chevron.svg");
  width: 16px;
  height: 16px;
  top: 3px;
  right: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.select-language.active::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.select-language .select-language__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  top: 30px;
  left: -10px;
  background-color: var(--white);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 16px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  color: var(--black);
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
}

.select-language .select-language__list.show {
  opacity: 1;
  visibility: visible;
  z-index: 21;
}

.header__bottom {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px 0;
  border-top: 1px solid var(--lightGray);
  background-color: var(--white);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04);
}

.header__bottom.show {
  opacity: 1;
  visibility: visible;
  z-index: 20;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  margin-left: 233px;
  max-width: 685px;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.form__search-input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 6px;
  background: var(--whitesmoke);
  padding: 0 60px 0 10px;
  outline: none;
}

.form__search-btn {
  position: absolute;
  right: 22px;
  top: 18px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 29px;
  height: 29px;
  border: none;
  cursor: pointer;
}

.close-search {
  margin-left: 20px;
  margin-right: 16px;
  width: 30px;
  height: 30px;
  background-color: var(--silver);
  border-radius: 50%;
}

/* HERO SECTION */

.hero {
  padding-top: 65px;
  background-color: var(--lightGray);
}

.slider__item {
  position: relative;
  background: -o-linear-gradient(
      right,
      rgba(0, 0, 0, 0.07) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../img/IMG_7284-min.jpg");
  background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(0, 0, 0, 0.07)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url("../img/IMG_7284-min.jpg");
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.07) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../img/IMG_7284-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  margin: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.offer {
  margin-top: 210px;
}

.offer__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 74px;
  color: #ffffff;
  max-width: 726px;
  margin-bottom: 59px;
}

.offer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
}

.offer__btn .help__btn {
  margin: 0;
  padding: 16.5px 10px;
  min-width: 200px;
  display: inline-block;
}

.more__btn {
  background-color: var(--white);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--black);
  padding: 16.5px 10px;
  min-width: 200px;
  display: inline-block;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.more__btn:hover {
  background-color: #dfeaef;
}

#hero-slider .slick-dots {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0 9px;
}

#hero-slider .slick-dots li button {
  font-size: 0;
  border: none;
  width: 13px;
  height: 13px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

#hero-slider .slick-dots .slick-active button {
  background-color: var(--white);
}

.hero__text {
  background-color: var(--mediumSeaGreen);
  border-radius: 12px;
  text-align: center;
  max-width: 978px;
  margin: 0 auto;
  padding: 30px 40px;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}

.hero__text p {
  color: var(--white);
  text-align: center;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

/* ASSIST SECTION */

.assist {
  padding: 20px 0 60px;
  background-color: var(--lightGray);
}

.assist__title,
.map__title,
.news__title,
.partners__title,
.charity__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--black);
}

.assist__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.assist__item {
  max-width: 380px;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--white);
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.assist__item:hover {
  border: 2px solid var(--forestGreen);
}

.assist__item:hover .assist__item-buttons .help__btn {
  background-color: #ffe609;
}

.assist__item-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--black);
  margin: 10px 0;
}

.assist__item-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
}

.assist__item-text span {
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.assist__item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px 20px;
}

.assist__item-buttons .help__btn {
  display: inline-block;
  margin: 0;
}

.assist__item-buttons .details__btn {
  display: inline-block;
  background-color: #f0f4f6;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: var(--black);
  padding: 11px 30px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.assist__item-buttons .details__btn:hover {
  background-color: #dfeaef;
}

/* MAP SECTION */

.map {
  padding: 60px 0;
}

.map iframe {
  width: 100%;
  height: 990px;
}

/* ACHIEVEMENT SECTION */

.achievement {
  padding: 40px 0 100px;
  background: -o-linear-gradient(
      bottom,
      rgba(0, 135, 52, 0.9),
      rgba(0, 135, 52, 0.9)
    ),
    url("../img/IMG_7284-min.jpg");
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 135, 52, 0.9)),
      to(rgba(0, 135, 52, 0.9))
    ),
    url("../img/IMG_7284-min.jpg");
  background: linear-gradient(
      0deg,
      rgba(0, 135, 52, 0.9),
      rgba(0, 135, 52, 0.9)
    ),
    url("../img/IMG_7284-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.achievement__title {
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: var(--white);
  text-align: center;
}

.achievement__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 50px 40px;
}

.achievement__item {
  max-width: 240px;
  text-align: center;
  color: var(--white);
}

.achievement__item:nth-child(1) .achievement__item-img {
  background-image: url("../img/budget-desktop.svg");
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
}
.achievement__item:nth-child(2) .achievement__item-img {
  background-image: url("../img/monthly-desktop.svg");
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
}
.achievement__item:nth-child(3) .achievement__item-img {
  background-image: url("../img/support-desktop.svg");
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
}
.achievement__item:nth-child(4) .achievement__item-img {
  background-image: url("../img/child-desktop.svg");
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
}

.achievement__item b {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -0.04em;
  margin: 20px 0;
  padding-bottom: 10px;
}

.achievement__item b::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.achievement__item b span {
  font-size: 24px;
  line-height: 32px;
}

.achievement__item p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

/* NEWS SECTION */

.news {
  padding: 60px 0;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.news__list-item {
  width: 100%;
  height: 100%;
  max-width: 285px;
}

.card {
  position: relative;
  padding-top: 100%;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.card-link:hover .card-image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: -10;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-image img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 12px;
  width: 100%;
}

.gradient-img {
  border-radius: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(16.98%, rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.7))
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 16.98%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 16.98%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.card-content {
  position: absolute;
  /* top: 150px; */
  bottom: 0px;
  color: #fff;
  padding: 10px;
}

.card:hover {
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  color: var(--white);
}

.card-content h4 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--white);
}

.card-content p {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.all-news__btn {
  padding: 17px 37px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--forestGreen);
  border: 2px solid var(--forestGreen);
  border-radius: 6px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 30px auto 0;
}

.btn__wrapper {
  text-align: center;
}

.all-news__btn:hover {
  background-color: var(--forestGreen);
  color: var(--white);
}

/* PARTNERS SECTION */

.partners {
  padding: 60px 0;
  background-color: var(--lightGray);
}

.charity {
  padding: 60px 0 103px;
  background-color: var(--lightGray);
}

.charity__slider {
  padding: 0 70px;
}

.charity__slider-item {
  width: 180px;
  height: 150px;
  display: -ms-grid !important;
  display: grid !important;
  place-items: center;
}
.partners__slider {
  position: relative;
  margin-bottom: 36px;
  padding: 0 65px;
}

.charity__logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.partners__logo {
  min-height: 160px;
  min-width: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.partners__logo img {
  display: block;
  height: 125px;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 180px;
}

.charity__logo img {
  max-width: 180px;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}

.partners__slider .slick-dots,
.charity__slider .slick-dots {
  position: absolute;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0 9px;
}

.partners__slider .slick-dots li button,
.charity__slider .slick-dots li button {
  font-size: 0;
  border: none;
  width: 13px;
  height: 13px;
  background: var(--silver);
  border-radius: 50%;
}

.partners__slider .slick-dots .slick-active button,
.charity__slider .slick-dots .slick-active button {
  background-color: var(--mediumSeaGreen);
}

.partners__slider .slick-next,
.partners__slider .slick-prev,
.charity__slider .slick-next,
.charity__slider .slick-prev {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--silver);
}

.partners__slider .slick-next:hover,
.partners__slider .slick-prev:hover,
.charity__slider .slick-next:hover,
.charity__slider .slick-prev:hover {
  background-color: var(--mediumSeaGreen);
}

.partners__slider .slick-prev,
.charity__slider .slick-prev {
  background-image: url("../img/chevron-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;
  left: 0;
}

.partners__slider .slick-next,
.charity__slider .slick-next {
  right: 0;
  background-image: url("../img/chevron-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
}

/* PROGRAM SECTION */

.program {
  padding: 125px 0 60px;
}

.program__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.program__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.aside {
  padding-left: 40px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  width: 325px;
}

.aside__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}

.aside .news__list {
  margin-top: 30px;
}

.program__content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.program__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}

.program__presentation-btn {
  position: relative;
  padding: 16.5px 21px 16.5px 63px;
  border-radius: 6px;
  background-color: var(--mediumSeaGreen);
  color: var(--white);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.program__presentation-btn::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 12px;
  left: 18px;
  background-image: url("../img/presentation-icon.svg");
}

.program__content-midle img {
  margin: 13px 0 30px;
  border-radius: 12px;
  max-width: 100%;
}

.program__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.program__info .program__help-btn {
  width: 240px;
  padding: 16.5px 20px;
}

.program__info-collect {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 50px;
}

.program__info-collect p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 22px;
  line-height: 30px;
  color: var(--black);
}

.program__info-collect p b {
  font-weight: 400;
}

.program__info-collect p b span {
  color: var(--silver);
}

.program__remains-collect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.program__remains-collect p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}

.program__remains-collect b {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.progress-container {
  width: 100%;
  min-height: 3px;
  border-radius: 4px;
  background-color: var(--lightGray);
  margin: 8px 0;
}

.progress {
  width: 56%;
  min-height: 3px;
  border-radius: 4px;
  background-color: var(--mediumSeaGreen);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.program__help-btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--gold);
  border-radius: 6px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--black);
  padding: 16.5px 74.5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}

.program__help-btn:hover {
  background-color: #ffe609;
}

.program__text {
  margin-top: 30px;
}

.program__text p:first-child {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
}

.program__text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
}

.program__text p span {
  display: block;
  font-weight: 600;
}

.program__text p:not(:first-child) {
  margin-top: 16px;
}

.program__text p b {
  font-weight: 600;
}

.program__content-bottom {
  margin-top: 40px;
}

.content__bottom-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}

.video-container {
  width: 100%;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.video-container::-webkit-scrollbar {
  height: 4px;
  background-color: rgb(242, 242, 242);
}

.video-container::-webkit-scrollbar-thumb {
  background-color: rgb(187, 187, 187);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.video-block {
  max-width: 278px;
  min-width: 278px;
}

.video-block__content {
  border-radius: 12px;
  max-width: 100%;
}

.video-block__inner {
  position: relative;
}

.video-block__inner iframe {
  min-width: 278px;
}

.video-block__button {
  border-radius: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.4)),
    to(rgba(0, 0, 0, 0.4))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  width: 100%;
}

.video-block__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
}

/* PROGRAMS SECTION */

.programs {
  background-color: var(--whiteBackground);
}

.programs__top {
  padding: 105px 0 40px;
  border-bottom: 2px solid var(--lightGray);
}

.programs__top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.programs__top-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.reset-filter {
  color: var(--forestGreen);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.programs__filter-items {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 16px;
}

.programs__filter-items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.programs__filter-items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.programs__filter-items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.programs__filter-items > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.programs__filter-items > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.programs__filter-items > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.filter__item {
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  min-width: 150px;
}

div.mixitup-control-active > button {
  background-color: var(--forestGreen);
}
div.mixitup-control-active > button path {
  fill: #fff;
}
div.mixitup-control-active > p {
  color: var(--forestGreen);
}

.filter__item path,
.filter__item:hover button,
.filter__item:hover p {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.filter__item:hover path {
  fill: var(--white);
}

.filter__item:hover button {
  background-color: var(--forestGreen);
}

.filter__item:hover p {
  color: var(--forestGreen);
}

.filter__item p {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.filter__item button {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.programs__content {
  padding: 60px 0 60px;
}

.programs__content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.programs__content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.programs__content-nav a {
  margin-right: auto;
}

.content-nav__wrapper {
  position: relative;
  height: fit-content;
  border-bottom: 2px solid var(--lightGray);
}

.programs__content-nav button {
  padding: 0 20px 10px;
  /* padding-bottom: 10px; */
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--darkGray);
}

.programs__content-nav button.active {
  /* border-color: var(--forestGreen); */
  color: var(--black);
  font-weight: 600;
}

.programs__content-nav button:hover {
  color: var(--black);
}

.border-btn {
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: green;
  bottom: -2px;
  transition: all 0.3s ease-in-out;
}

/* .programs__content-nav button:focus {
  color: var(--black);
} */

.program__map {
  height: 990px;
  width: 100%;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.programs__content-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 20px;
}

.programs__content-title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  min-height: 55px;
}

.programs__content-title h2 .wrapper-icon {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 55px;
  height: 55px;
  border: 2px solid var(--forestGreen);
  border-radius: 50%;
}

.programs__content-title h2 svg {
  width: 38px;
  height: 38px;
}

.programs__content-title h2 svg path {
  fill: #008734;
}

.programs__content-title a {
  padding: 11.5px 14.5px;
}

.programs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}

.program__list-item {
  max-width: 380px;
  border-radius: 12px;
  background-color: var(--white);
  overflow: hidden;
}

.img-wrapper {
  position: relative;
  height: 180px;
  overflow: hidden;
}

.img-wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.program__list-item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.program__list-item:hover {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.program__list-item:hover .program__help-btn {
  background-color: #ffe609;
}

.program__list-item img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.program__item-content {
  padding: 20px;
}

.program__item-title h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 6px;
}

.program__item-title p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #898989;
}

.program__item-content .program__info .program__info-collect {
  margin: 20px 0;
}

.program__item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.program__help-btn {
  padding: 12px 35px;
  width: 160px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--gold);
  color: var(--black);
}

.program__details-btn {
  display: inline-block;
  background-color: #f0f4f6;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  padding: 11px 34px;
  border-radius: 6px;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 160px;
}

.program__details-btn:hover {
  background-color: #dfeaef;
}

/* FOOTER SECTION */

.footer {
  background-color: var(--darkSlateGray);
  color: var(--white);
}

.footer__inner {
  padding: 40px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.footer__logo-img {
  width: 191px;
  height: 50px;
}

.footer__col-main .footer__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--whitesmoke);
  margin: 20px 0;
  max-width: 284px;
}

ul.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social__list-item .social__list-link svg {
  width: 30px;
  height: 30px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px 0;
}

.footer__nav-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__nav-link:hover {
  color: #dadada;
}

.footer__col-contacts .footer__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}

.footer__col-contacts .footer__title:not(:first-child) {
  margin-top: 10px;
}

.footer__col-contacts a {
  color: var(--gold);
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__col-contacts a:hover {
  color: #ffe609;
}

.footer__inner div {
  padding: 0 10px;
}

.footer__col-charity p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  max-width: 241px;
}

.footer__btn:hover {
  background-color: #ffe609;
  color: var(--black);
}

.footer__btn {
  color: var(--gold);
  border: 1px solid var(--gold);
  border-radius: 6px;
  padding: 12px 30px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__copyright {
  padding: 20px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  border-top: 1px solid var(--silver);
}

/* ADAPTIVE */

@media (max-width: 1200px) {
  .header__inner .menu {
    display: none;
  }
  .user-navigation .search__btn {
    display: none;
  }
  .user-navigation .help__btn {
    display: none;
  }
  .user-navigation .user-login {
    display: none;
  }
  .user-navigation .burger-button {
    display: block;
  }
  .header__mobile-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .header__mobile-form {
    width: 100%;
  }
  a.help__btn-mobile {
    max-width: 100%;
  }
  #header__mobile > div > div > nav {
    width: 100%;
  }
  /* #header__mobile > div > div > nav > ul > li > a {
    display: block;
  } */
  #header__mobile > div > div > nav > ul > li > a::after {
    right: 16px;
    left: auto;
  }
  .programs__filter-items {
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 16px 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 16px;
  }
  .programs__filter-items > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .programs__filter-items > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .programs__filter-items > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .programs__filter-items > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .programs__filter-items > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .programs__filter-items > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
}

@media (max-width: 970px) {
  .hero__text {
    border-radius: 0px;
  }
  .program__wrapper {
    display: block;
  }
  .aside {
    width: 100%;
    padding: 40px 0 0;
  }
  .program__content-midle img {
    margin: 13px auto 30px;
  }
  .map iframe {
    width: 100%;
    height: 1270px;
  }
  .program__map {
    height: 1265px;
  }
}

@media (max-width: 768px) {
  .offer__title {
    max-width: 500px;
    font-size: 32px;
    line-height: 42px;
  }
  .news__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .program__content-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
  }
  .program__info {
    display: block;
  }
  .program__info .program__help-btn {
    margin-top: 20px;
  }
  .program__info-collect {
    margin-right: 0;
  }
  .program__content-midle img {
    margin: 19px auto 20px;
  }
  .programs__content-nav {
    margin-top: 9px;
  }
  .map iframe {
    height: 1570px;
  }
  .program__map {
    height: 1570px;
  }
}
@media (max-width: 550px) {
  .offer__btn .help__btn,
  .offer__btn .more__btn {
    min-width: 130px;
    margin: 0;
  }
  .partners__logo {
    min-height: 160px;
    max-width: 130px;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .partners__slider {
    padding: 0;
  }
  .charity__slider {
    padding: 0;
  }
  .programs__top-title {
    font-size: 18px;
    line-height: 25px;
  }
  .programs__top {
    padding: 85px 0 20px;
  }
  .reset-filter {
    font-size: 14px;
    line-height: 19px;
  }
  .filter__item {
    max-width: 80px;
    min-width: 80px;
  }
  .filter__item button {
    width: 52px;
    height: 52px;
  }
  .filter__item button svg {
    width: 32px;
    height: 32px;
  }
  .filter__item p {
    font-size: 11px;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  .programs__content {
    padding: 46px 0 40px;
  }
  .programs__content-nav button {
    font-size: 14px;
    padding: 0 5px 10px;
  }
  .programs__content-nav .program__help-btn {
    padding: 11.5px 14.5px;
    text-align: center;
    width: 120px;
  }
  .map iframe {
    height: 1675px;
  }
  .program__map {
    height: 1675px;
  }
  .programs__content-title h2 .wrapper-icon {
    width: 42px;
    height: 42px;
    border-width: 1px;
  }
  .programs__content-title h2 .wrapper-icon svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 425px) {
  .offer {
    margin-top: 194px;
  }
  .offer__title {
    max-width: 250px;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }
  .offer__btn {
    justify-content: space-between;
  }
  .offer__btn a {
    width: 100%;
  }
  .header__logo {
    margin-right: 25px;
    gap: 0 9px;
  }
  .header__logo-img {
    width: 33px;
    height: 18px;
  }
  .header__logo-link img {
    height: 30px;
    width: 123px;
    display: inline-block;
  }
  .header__mobile {
    top: 60px;
  }
  .select-language {
    margin-right: 44px;
  }
  .hero {
    padding-top: 60px;
  }
  .hero .slider {
    height: 601px;
  }
  .hero #hero-slider .slick-list {
    height: 601px;
  }
  .assist {
    padding: 0 0 40px;
  }
  .assist__items {
    display: block;
  }
  .assist__item {
    max-width: 100%;
    padding: 20px 14px;
  }
  .assist__item svg {
    width: 70px;
    height: 70px;
  }
  .assist__item-buttons {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .assist__item-buttons a {
    width: 100%;
  }
  .assist__item:not(:first-child) {
    margin-top: 20px;
  }
  .assist__title,
  .map__title,
  .news__title,
  .partners__title,
  .charity__title,
  .achievement__title {
    font-size: 24px;
    line-height: 33px;
  }
  .assist__item-buttons a {
    min-width: 118px;
  }
  .assist__item-buttons .help__btn {
    padding: 9px 13px;
  }
  .assist__item-buttons .details__btn {
    padding: 9px;
  }
  .hero__text p {
    font-size: 18px;
    line-height: 25px;
  }
  .hero__text {
    padding: 30px 0px;
  }
  .assist__item-title {
    font-size: 16px;
    line-height: 22px;
  }
  .assist__item-text {
    font-size: 14px;
    line-height: 19px;
  }
  .assist__item-text span {
    font-size: 16px;
    line-height: 22px;
  }
  .achievement {
    padding: 40px 0;
  }
  /* .achievement__items {
    gap: 20px;
  } */
  .achievement__item {
    max-width: 284px;
  }
  .achievement__item:nth-child(1) .achievement__item-img {
    background-image: url("../img/budget-mobile.svg");
    width: 70px;
    height: 70px;
  }
  .achievement__item:nth-child(2) .achievement__item-img {
    background-image: url("../img/monthly-mobile.svg");
    width: 70px;
    height: 70px;
  }
  .achievement__item:nth-child(3) .achievement__item-img {
    background-image: url("../img/support-mobile.svg");
    width: 70px;
    height: 70px;
  }
  .achievement__item:nth-child(4) .achievement__item-img {
    background-image: url("../img/child-mobile.svg");
    width: 70px;
    height: 70px;
  }
  .achievement__item b {
    font-size: 24px;
    line-height: 32px;
    margin: 10px 40px;
    padding-bottom: 4px;
  }
  .achievement__item b::after {
    width: 100%;
  }
  .achievement__item b span {
    font-size: 16px;
    line-height: 22px;
  }
  .achievement__item p {
    font-size: 14px;
    line-height: 19px;
  }
  .news {
    padding: 40px 0;
  }
  .news__list-item {
    max-width: 100%;
  }
  .partners {
    padding: 40px 0;
  }
  .charity {
    padding: 40px 0 103px;
  }
  .offer__btn {
    gap: 0 20px;
  }
  .map {
    padding: 40px 0;
  }
  .map iframe {
    height: 1680px;
  }
  .partners__logo {
    margin: 0 auto;
    min-height: 0;
  }
  .partners__logo img {
    width: 110px;
    height: 80px;
    /* object-fit: cover; */
  }
  .partners__slider .slick-dots {
    bottom: -30px;
  }
  .charity__slider-item {
    height: 120px;
  }
  .charity__logo img {
    width: 110px;
  }
  .program {
    padding: 80px 0 20px;
  }
  .program__title {
    font-size: 22px;
    line-height: 30px;
  }
  .program__presentation-btn {
    padding: 14px 21px 14px 63px;
  }
  .program__help-btn {
    display: block;
  }
  .program__text {
    margin-top: 20px;
  }
  .program__content-bottom {
    margin-top: 30px;
  }
  .aside .news__list {
    margin-top: 20px;
  }
  .program__item-buttons {
    gap: 20px;
  }
  .program__item-buttons a {
    width: 100%;
    text-align: center;
    padding: 12px 9px;
  }
  .program__item-content .program__info .program__info-collect {
    margin: 16px 0;
  }
  .program__info-collect p {
    font-size: 20px;
  }
  .program__remains-collect p {
    font-size: 15px;
  }
  .programs__top {
    padding: 80px 0 20px;
  }
  .programs__content-title h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .programs__content-title h2 .wrapper-icon {
    width: 42px;
    height: 42px;
  }
  .programs__content-title h2 svg {
    width: 30px;
    height: 30px;
  }
  .program__info .program__help-btn {
    width: 100%;
    padding: 14px 20px;
  }
}
